<div class="container mt-3" *ngIf="!registerMode">
  <div class="" style="text-align:center;">
    <h1 class="">Find your match</h1>
    <p class="lead"> Sign up to start your journey to find your special some one..</p>   
  </div>
  <div class="text-center">
    <button class="btn btn-success mr-2" (click)="RegisterMode(true)">Register</button>
    <button class="btn btn-primary">Learn more</button>
  </div>
</div>

<div class="container mt-2" *ngIf="registerMode">
<app-register (cancelRegisterEvent)="RegisterMode($event)" ></app-register>
</div>