<div class="row" >
<div  class="col-4 offset-4" style="text-align: center;">
<h2 class="text-primary">Sign Up</h2>
<hr>
<form #registerForm="ngForm" (ngSubmit)="registerUser()" >
  <div class="form-group">
    <input class="form-control" type="text" name="username" [(ngModel)]="user.username" placeholder="User Name"/>
  </div>
  <div class="form-group">
    <input class="form-control"  type="password" name="password" [(ngModel)]="user.password" placeholder="Password"/>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-outline-warning" type="button" (click)="cancelRegister()">Cancel</button>
  </div>
</form>
</div>
</div>